h2{
    font-weight: bold;
    text-align: center;
    margin-top: 130px;
}

.forgotcard{
    width: 330px;
    margin-left: 455px;
}

.forgotResetButton{
    margin-left: 30px; 
    background-color: #A03037; 
    color: white;
    width: 290px;
}

.createAccount{
    background-color: #F9F9F8; 
    width: 363px; 
    margin-left: 455px; 
    height: 80px;
}


