<div class="main">
    <button mat-button style="display: flex;">
        <mat-icon>dashboard</mat-icon>
        Dashboard
    </button>
    <button mat-button class="content">
        <mat-icon>medication</mat-icon>
        Doctors
    </button>
    <button mat-button class="content">
        <mat-icon>alarm</mat-icon>
        Schedule
    </button>
    <button mat-button class="content">
        <mat-icon>bookmark_border</mat-icon>
        Appointments
    </button>
    <button class="content" mat-button>
        <mat-icon>accessible</mat-icon>
        patients
    </button>
</div>