<div>
    <h2>Reset Your Password?</h2>
    <mat-card class="resetcard">
        <mat-card-content style="text-align: left; margin-left: 35px;">
            Enter the password to reset.
        </mat-card-content>
        <form [formGroup]="resetpwdForm" (ngSubmit)="onResetpwd()"><br>
            <mat-form-field style="width: 290px; margin-left: 30px;" appearance="outline">
                <mat-label>password</mat-label>
                <input matInput placeholder="password" formControlName="password">
                <mat-error *ngIf="resetpwdForm.get('password')?.hasError('required')">
                    password is required
                </mat-error>
                <mat-error *ngIf="resetpwdForm.get('password')?.hasError('pattern')">
                    please provide strong password
                </mat-error>
            </mat-form-field><br>
            <mat-form-field style="width: 290px; margin-left: 30px;" appearance="outline">
                <mat-label>confirm password</mat-label>
                <input matInput placeholder="confirm password" formControlName="confirmPassword">
                <mat-error *ngIf="resetpwdForm.get('confirmPassword')?.hasError('required')">
                    confirm password is required
                </mat-error>
                <mat-error *ngIf="resetpwdForm.get('confirmPassword')?.hasError('pattern')">
                    please provide strong password
                </mat-error>
            </mat-form-field>
            <br>
            <div>
                <button type="submit" mat-raised-button class="forgotResetButton">Submit</button>
            </div> 
        </form>
    </mat-card>
</div>
